.maroon {
  color: #00000066; /* Maroon */
}
.maroon {
  color: #000000B3; /* Maroon */
}
.steel-blue {
  color: #0284C7; /* Steel Blue */
}
.midnight-blue {
  color: #15151E; /* Midnight Blue */
}
.dark-slate-gray {
  color: #1D1D1B; /* Dark Slate Gray */
}
.dark-slate-gray {
  color: #38383F; /* Dark Slate Gray */
}
.indigo {
  color: #581C87; /* Indigo */
}
.red {
  color: #E10600; /* Red */
}
.white-smoke {
  color: #EDEDED; /* White Smoke */
}
.white-smoke {
  color: #F6F4F0; /* White Smoke */
}
.red {
  color: #FF0000; /* Red */
}
.white {
  color: #FFFFFF; /* White */
}
.white {
  color: #FFFFFF80; /* White */
}
.white {
  color: #FFFFFFCC; /* White */
}
